<div class="ocim-actions-wrapper ocim-image-form-wrapper container-fluid ocim-active" id="ocim-image-form-wrapper">
  <form>
    <div class="ocim-image-file">
      <input type="file" name="image_file" id="ocim-image-file">
    </div>
    <div class="ocim-image-form-appends" id="ocim-image-form-appends">

    </div>
    <div class="ocim-form-step" id="ocim-form-step-1">
      <div class="row ocim-form-row-options">
        <div class="col-sm-12">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-info ocim-crop-options-btn" rel="rotate" data-value="45">
              <i class="fa fa-rotate-left"></i>
            </button>
            <button type="button" class="btn btn-sm btn-info ocim-crop-options-btn" rel="rotate" data-value="-45">
              <span class="fa fa-rotate-right"></span>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-info ocim-crop-options-btn" rel="invert" data-value="horizontal">
              <i class="fa fa-arrows-h"></i>
            </button>
            <button type="button" class="btn btn-sm btn-info ocim-crop-options-btn" rel="invert" data-value="vertical">
              <span class="fa fa-arrows-v"></span>
            </button>
          </div>

          <div class="ocim-options-divider"></div>

          <label class="ocim-form-lbl-crop-sizes">Crop Sizes:</label>
          <div class="btn-group">
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown">
              <span id="ocim-crop-sizes-btn-lbl">Free</span>&nbsp;&nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="ocim-crop-sizes-list">
              <li><a href="#" class="ocim-crop-size-btn" rel="800x600">800x600</a></li>
              <li><a href="#" class="ocim-crop-size-btn" rel="1000x600">1000x600</a></li>
              <li><a href="#" class="ocim-crop-size-btn" rel="free">free</a></li>
            </ul>
          </div>
          <div class="form-inline ocim-crop-size-form ocim-active" id="ocim-image-crop-fields">
            <div class="form-group">
              <input type="text" class="form-control" id="ocim-image-crop-width" placeholder="width">
            </div>
            <label>x</label>

            <div class="form-group">
              <input type="text" class="form-control" id="ocim-image-crop-height" placeholder="height">
            </div>

            <button type="button" class="btn btn-xs btn-info" id="ocim-image-crop-set-size">set</button>
            <div class="checkbox">
              <label data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for future uses">
                <input type="checkbox" id="ocim-image-crop-save-size"> Save crop
              </label>
            </div>
          </div>
          <button type="button" class="btn btn-sm btn-material-deep-purple" id="ocim-image-crop-btn"><i class="fa fa-crop"></i> Crop image</button>

          <button type="button" class="btn btn-sm btn-primary pull-right">Image Metadata</button>
          <button type="button" class="btn btn-sm btn-success pull-right ocim-form-btn-save">Save and finish</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 ocim-image-preview-wrapper">
          <img src="" class="ocim-image-preview" id="ocim-image-preview">
        </div>
      </div>
      <div class="ocim-cropped-images-wrapper ocim-show" id="ocim-cropped-images-wrapper">
        <a href="#" class="btn btn-material-indigo ocim-cropped-images-toggle" id="ocim-cropped-images-toggle">
          <i class="fa fa-image"></i>
        </a>
        <h4>Cropped Images</h4>
        <div id="ocim-cropped-images-list" class="ocim-cropped-images-list"></div>
      </div>
    </div>

    <div class="ocim-form-step" id="ocim-form-step-2">

    </div>
  </form>
</div>