<div class="ocim-actions-wrapper ocim-image-list-wrapper" id="ocim-image-list-wrapper">
  <ul class="ocim-image-list" id="ocim-image-list">
    <li>
      <a href="#" class="ocim-image-link-selection">
        <img src="http://placehold.it/200x200">
        <div class="ocim-image-item-description clearfix">
          <label>Lorem ipsum</label>
          <small>10/12/2015</small>
          <small>200kb</small>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="ocim-image-link-selection">
        <img src="http://placehold.it/200x200">
        <div class="ocim-image-item-description clearfix">
          <label>Lorem ipsum</label>
          <small>10/12/2015</small>
          <small>200kb</small>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="ocim-image-link-selection">
        <img src="http://placehold.it/200x200">
        <div class="ocim-image-item-description clearfix">
          <label>Lorem ipsum</label>
          <small>10/12/2015</small>
          <small>200kb</small>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="ocim-image-link-selection">
        <img src="http://placehold.it/200x200">
        <div class="ocim-image-item-description clearfix">
          <label>Lorem ipsum</label>
          <small>10/12/2015</small>
          <small>200kb</small>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="ocim-image-link-selection">
        <img src="http://placehold.it/200x200">
        <div class="ocim-image-item-description clearfix">
          <label>Lorem ipsum</label>
          <small>10/12/2015</small>
          <small>200kb</small>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="ocim-image-link-selection">
        <img src="http://placehold.it/200x200">
        <div class="ocim-image-item-description clearfix">
          <label>Lorem ipsum</label>
          <small>10/12/2015</small>
          <small>200kb</small>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="ocim-image-link-selection">
        <img src="http://placehold.it/200x200">
        <div class="ocim-image-item-description clearfix">
          <label>Lorem ipsum</label>
          <small>10/12/2015</small>
          <small>200kb</small>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="ocim-image-link-selection">
        <img src="http://placehold.it/200x200">
        <div class="ocim-image-item-description clearfix">
          <label>Lorem ipsum</label>
          <small>10/12/2015</small>
          <small>200kb</small>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="ocim-image-link-selection">
        <img src="http://placehold.it/200x200">
        <div class="ocim-image-item-description clearfix">
          <label>Lorem ipsum</label>
          <small>10/12/2015</small>
          <small>200kb</small>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="ocim-image-link-selection">
        <img src="http://placehold.it/200x200">
        <div class="ocim-image-item-description clearfix">
          <label>Lorem ipsum</label>
          <small>10/12/2015</small>
          <small>200kb</small>
        </div>
      </a>
    </li>
  </ul>
  <div class="pagination-wrap">
    <ul class="pagination">
      <li class="disabled"><a href="#">«</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div>
</div>