<nav class="ocim-nav container-fluid" id="ocim-nav">
  <ul class="clearfix ocim-active row" id="ocim-nav-default">
    <li class="col-md-8 col-sm-12">
      <a href="#" class="btn btn-primary ocim-menu-btn" id="ocim-nav-btn-upload" rel="upload"><i class="fa fa-upload"></i> Upload</a>
    </li>
    <li class="col-md-4 col-sm-12">
      <div class="ocim-search pull-right">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" name="search" id="search" placeholder="search..." class="form-control">
        </div>
      </div>
    </li>
  </ul>

  <ul class="clearfix" id="ocim-nav-img-selected">
    <li>
      <a href="#" class="btn btn-primary ocim-menu-btn" rel="choose"><i class="fa fa-check"></i> Choose</a>
    </li>
    <li>
      <a href="#" class="btn btn-info ocim-menu-btn" rel="edit"><i class="fa fa-edit"></i> Edit</a>
    </li>
    <li>
      <a href="#" class="btn btn-info ocim-menu-btn" rel="download"><i class="fa fa-download"></i> Download</a>
    </li>
    <li>
      <a href="#" class="btn btn-info ocim-menu-btn" rel="info"><i class="fa fa-eye"></i> Info</a>
    </li>
    <li>
      <a href="#" class="btn btn-danger ocim-menu-btn" rel="remove"><i class="fa fa-trash-o"></i> Remove</a>
    </li>
  </ul>

  <ul class="clearfix" id="ocim-nav-menu-form">
    <li>
      <a href="#" class="btn btn-primary ocim-menu-btn" rel="list-back"><i class="fa fa-arrow-circle-left"></i> Voltar</a>
    </li>
  </ul>
</nav>