.ocim-image-form-wrapper {
  width: 100%;
  position: relative;
  min-height: 60vh;
  height: auto;

  .ocim-form-step {
    display: none;
    &.ocim-active {
      display: block;
    }
  }

  .ocim-image-preview-wrapper {
    width: 100%;

    .ocim-image-preview {
      max-width: 100%;
    }
  }

  .ocim-form-row-options {
    .btn-group {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .ocim-form-lbl-crop-sizes {
    font-weight: 400;
  }

  .ocim-options-divider {
    display: inline-block;
    width: 1px;
    height: 28px;
    vertical-align: middle;
    margin-right: 10px;
    background: #eee;
  }

  .ocim-crop-size-form {
    display: inline-block;
    margin: 0 10px;
    .transition();
    opacity: 0;

    .form-group {
      margin: 0;
    }

    .form-control {
      width: 100%;
      max-width: 50px;
      margin-bottom: 0;
      text-align: center;
      padding-bottom: 0;
    }

    >label {
      font-weight: 400;
      margin: 0 5px;
    }

    >button {
      margin-left: 5px;
    }

    .checkbox {
      margin-left: 10px;
    }

    &.ocim-active {
      opacity: 1;
    }
  }

  .ocim-image-file {
    position: fixed;
    width: 1px;
    height: 1px;
    overflow: hidden;
    top:-500px;
    left: -500px;
    visibility: hidden;
  }

  .ocim-cropped-images-wrapper {
    opacity: 0;
    position: fixed;
    top: 70px;
    right: -400px;
    width: 400px;
    padding: 0 15px 15px 15px;
    background: #fff;
    border: solid 1px #ccc;
    z-index: 99;
    border-bottom-left-radius: @defaultRadius;
    .transition(right, 400ms, ease);

    >.ocim-cropped-images-toggle {
      display: block;
      position: absolute;
      right: 397px;
      top: -1px;
      border-top-left-radius: @defaultRadius;
      border-bottom-left-radius: @defaultRadius;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 10px 10px 10px 15px;
      margin-top: 0;
      z-index: 100;
      font-size: 20px;
    }

    h4 {
      display: block;
      text-align: center;
      width: 100%;
    }

    &.ocim-active {
      opacity: 1;
    }

    &.ocim-show {
      right: 0;
    }

    .ocim-cropped-images-list {
      height: 90%;
      overflow-y: auto;
      .ocim-cropped-image {
        position: relative;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
        border: dashed 1px #000;

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background: #ccc;
          bottom: -15px;
          left: 0;
        }

        canvas {
          display: block;
          width: 100% !important;
          height: auto !important;
        }

        .ocim-cropped-image-delete {
          position: absolute;
          top: 5px;
          right: 5px;
        }
      }
    }
  }
}